body {
    margin: 0;
    padding: 0;
}
header {
    height: 11,43em;
    background-color: #EFEFEF;
}
header hr {
    margin-top: -0,12em;
    height: 5px;
	border: 0;
	color: #707070;
	background-color: #707070;
}
.nav {
    position: sticky;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo2 {
    height: 183px;
    width: 222px;
}
.navtxt {
    width: 897px;
    display: flex;
    justify-content: space-around;
}
.navtxt a {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #707070;
    text-decoration: none;
    font-size: 281%;
}
.tete {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -10px;
    background-color: #EFEFEF;
    height: 106px;
    color: #707070;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 45px;
}
.footer {
    text-decoration: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #C3C3C3;
    height: 251px;

} 
.foot1 {
    text-decoration: none;
    color: #707070;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
}
.foot2 {
    text-decoration: none;
    color: #707070;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
}
.facebook {
    height: 100px;
    width: 100px;
}
.twitter {
    height: 100px;
    width: 100px;
}
.copy {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #C3C3C3;
}
.copylogo {
    height: 30px;
    width: 30px;
}
.copytxt {
    font-size: 20px;
    color: #707070;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1 {
    font-size: 60px;
    color: #707070;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.desc {
    height: 800px;
    background-color: white;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.description {
    font-size: 40px;
    color: #707070;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.rouge {
    color: #CD142A;
}
.residence2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #EFEFEF;
    height: 650px;
}
.appart2 {
    text-align: center;
    font-size: 40px;
    color: #707070;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.appart1 {
    height: 500px;
    width: 500px;
}
.residence1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 650px;
}
.section1 {
    border-top: 1px solid #707070;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 606px;
    background-color: #EFEFEF;
}
.section2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 602px;
    background-color: #FFFFFF;
}
.section3 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 606px;
    background-color: #EFEFEF;
}
.section4 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 696px;
    background-color: #FFFFFF;
}
.phot1 {
    object-fit: cover;
    width: 450px;
    height: 450px;
}
.phot2 {
    object-fit: cover;
    width: 685px;
    height: 450px;
}
.phot3 {
    object-fit: cover;
    width: 597px;
    height: 450px;
}
.phot4 {
    object-fit: cover;
    width: 1103px;
    height: 500px;
}
.phot5 {
    object-fit: cover;
    width: 616px;
    height: 500px;
}
.phot6 {
    object-fit: cover;
    width: 750px;
    height: 500px;
}
.phot7 {
    object-fit: cover;
    width: 664;
    height: 500;
}